html {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  --radius: 35px;
  font-size: 62.5%;

  //!margins

  --marginSmall: 1rem;
  --marginMedium: 1.8rem;
  --marginLarge: 2.5rem;
  --marginXLarge: 3.5rem;
  --marginXXLarge: 4.5rem;
  --paddingXXXLarge: 6.5rem;

  //!paddings

  --paddingSmall: 1rem;
  --paddingMedium: 1.8rem;
  --paddingLarge: 2.5rem;
  --paddingXLarge: 3.5rem;
  --paddingXXLarge: 4.5rem;
  --marginXXXLarge: 6.5rem;

  //!colours
  --clrPara: rgb(102, 138, 180);
  --clrH1: rgb(68, 95, 124);
  --clrH3: rgb(68, 95, 124);

  --clrHighlight: rgb(107, 171, 197);

  --bgGradient: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

@mixin boxShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
}

.circle:nth-child(1) {
  position: absolute;
  z-index: -1000;
  background: rgba(255, 255, 255, 0.445);
  width: 300px;
  height: 300px;
  right: 15%;
  top: 5%;
  border-radius: 50%;
  backdrop-filter: blur(200px);
}
.circle:nth-child(2) {
  position: absolute;
  z-index: -1000;
  background: rgba(255, 255, 255, 0.5);
  width: 500px;
  height: 500px;
  left: 10%;
  bottom: -10%;
  border-radius: 50%;
  backdrop-filter: blur(200px);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
