@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
html {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  --radius: 35px;
  font-size: 62.5%;
  --marginSmall: 1rem;
  --marginMedium: 1.8rem;
  --marginLarge: 2.5rem;
  --marginXLarge: 3.5rem;
  --marginXXLarge: 4.5rem;
  --paddingXXXLarge: 6.5rem;
  --paddingSmall: 1rem;
  --paddingMedium: 1.8rem;
  --paddingLarge: 2.5rem;
  --paddingXLarge: 3.5rem;
  --paddingXXLarge: 4.5rem;
  --marginXXXLarge: 6.5rem;
  --clrPara: rgb(102, 138, 180);
  --clrH1: rgb(68, 95, 124);
  --clrH3: rgb(68, 95, 124);
  --clrHighlight: rgb(107, 171, 197);
  --bgGradient: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.circle:nth-child(1) {
  position: absolute;
  z-index: -1000;
  background: rgba(255, 255, 255, 0.445);
  width: 300px;
  height: 300px;
  right: 15%;
  top: 5%;
  border-radius: 50%;
  backdrop-filter: blur(200px);
}

.circle:nth-child(2) {
  position: absolute;
  z-index: -1000;
  background: rgba(255, 255, 255, 0.5);
  width: 500px;
  height: 500px;
  left: 10%;
  bottom: -10%;
  border-radius: 50%;
  backdrop-filter: blur(200px);
}

*,
*::before,
*::after {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  align-items: center;
  display: grid;
  height: 100vh;
  background: #eeaeca;
  background: var(--bgGradient);
  place-items: center;
  font-size: 1.6rem;
}

.container {
  position: relative;
  display: flex;
  width: 70vw;
  height: 90vh;
  background: rgba(255, 255, 255, 0.281);
  backdrop-filter: blur(500px);
  border-radius: var(--radius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
}

.container aside {
  color: var(--clrPara);
  width: 35%;
  align-items: center;
  background: rgba(253, 253, 253, 0.404);
  backdrop-filter: blur(500px);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container aside .profile {
  margin-top: var(--marginLarge);
  margin-bottom: var(--marginXLarge);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container aside .profile .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #8a8a8a;
  background: url("../images/avatar.png");
  margin-bottom: var(--marginSmall);
}

.container aside .profile h2 {
  margin-bottom: var(--marginSmall);
  font-weight: 600;
}

.container aside .menu {
  filter: contrast(-100);
  opacity: 0.7;
  margin-top: -2rem;
}

.container aside .menu li {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  padding-bottom: var(--paddingXLarge);
  transition: all 0.25s ease-in-out;
}

.container aside .menu li:hover {
  transform: scale(1.05);
}

.container aside .menu li img {
  margin-right: var(--marginLarge);
}

.container aside .advert {
  position: relative;
  width: 80%;
  height: 150px;
  background: var(--bgGradient);
  opacity: 0.75;
  margin-bottom: var(--marginMedium);
  border-radius: var(--radius);
  display: flex;
  backdrop-filter: blur(400px);
  transition: all 0.25s ease-in-out;
}

.container aside .advert:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
  transform: scale(1.01);
}

.container aside .advert h3 {
  color: white;
  width: 50%;
  position: absolute;
  transform: translateY(40%);
  margin-left: var(--marginLarge);
}

.container aside .advert img {
  position: absolute;
  width: 40%;
  right: 0;
  transform: translateY(35%);
  margin-right: var(--marginMedium);
}

.container .main {
  background-color: none !important;
  position: relative;
  width: 100%;
  height: 100%;
}

.container .main-header {
  position: relative;
  height: 30%;
}

.container .main-header .main-header-content {
  position: absolute;
  left: var(--paddingXXXLarge);
  top: 6rem;
  width: 40%;
}

.container .main-header .main-header-content h1 {
  color: var(--clrH1);
  letter-spacing: 0.1rem;
  font-size: 4rem;
  margin-bottom: var(--marginXXLarge);
}

.container .main-header .main-header-content .search-container {
  position: relative;
  width: 90%;
}

.container .main-header .main-header-content .search-container .search-box {
  background: rgba(255, 255, 255, 0.432);
  height: 4rem;
  backdrop-filter: blur(300px);
  border-radius: var(--radius);
  width: 100%;
  outline: none;
  border: none;
  padding: 0 5rem 0 3rem;
  color: var(--clrPara);
  transition: all 0.25s ease-in-out;
  font-weight: bold;
}

.container .main-header .main-header-content .search-container .search-box:hover {
  border: solid 0.5px white;
}

.container .main-header .main-header-content .search-container .search-box:focus {
  background: rgba(233, 233, 233, 0.432);
}

.container .main-header .main-header-content .search-container i {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clrPara);
}

.container .gameslist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70%;
  padding-top: var(----paddingMedium);
  width: 100%;
}

.container .gameslist .game {
  margin: 0 var(--marginXXXLarge);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.726);
  backdrop-filter: blur(300px);
  height: 110px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 1rem;
  transition: box-shadow 0.25s ease-in-out;
}

.container .gameslist .game:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
}

.container .gameslist .game img {
  width: 80px;
  height: 80px;
  margin: auto 0;
  margin-left: var(--marginLarge);
}

.container .gameslist .game .stats {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--marginSmall) 0;
}

.container .gameslist .game .stats h3 {
  color: var(--clrH3);
}

.container .gameslist .game .stats p {
  color: var(--clrPara);
}

.container .gameslist .game .stats .completion {
  width: 100%;
  background: rgba(190, 190, 190, 0.363);
  height: 30px;
  border-radius: var(--radius);
}

.container .gameslist .game .stats .assassin::before {
  content: " ";
  display: block;
  width: 55%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clrHighlight);
}

.container .gameslist .game .stats .spiderman::before {
  content: " ";
  display: block;
  width: 35%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clrHighlight);
}

.container .gameslist .game .stats .sackboy::before {
  content: " ";
  display: block;
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clrHighlight);
}

.container .percentage {
  display: grid;
  place-items: center;
  margin-right: var(--marginLarge);
  color: var(--clrHighlight);
}
/*# sourceMappingURL=main.css.map */