@import "./styleGuide";

*,
*::before,
*::after {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  align-items: center;
  display: grid;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: var(--bgGradient);
  place-items: center;
  font-size: 1.6rem;
}
.container {
  position: relative;
  display: flex;
  // width: 1000px;
  width: 70vw;
  height: 90vh;
  background: rgba(255, 255, 255, 0.281);
  backdrop-filter: blur(500px);
  border-radius: var(--radius);
  @include boxShadow;

  aside {
    color: var(--clrPara);
    width: 35%;
    align-items: center;
    background: rgba(253, 253, 253, 0.404);
    backdrop-filter: blur(500px);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    padding: var(--paddingXLarge);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .profile {
      margin-top: var(--marginLarge);
      margin-bottom: var(--marginXLarge);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: rgb(138, 138, 138);
        background: url("../images/avatar.png");
        // background: var(--bgGradient);
        margin-bottom: var(--marginSmall);
      }

      h2 {
        margin-bottom: var(--marginSmall);
        font-weight: 600;
      }
    }

    .menu {
      //   filter: invert(1);
      filter: contrast(-100);
      opacity: 0.7;
      margin-top: -2rem;
      li {
        padding: 0.5rem;
        width: 100%;
        display: flex;
        padding-bottom: var(--paddingXLarge);
        transition: all 0.25s ease-in-out;
        &:hover {
          transform: scale(1.05);
          // filter: contrast(10) !important;
        }

        img {
          margin-right: var(--marginLarge);
        }
      }
    }

    .advert {
      position: relative;
      width: 80%;
      height: 150px;
      background: var(--bgGradient);
      opacity: 0.75;
      // margin-bottom: 11rem;
      margin-bottom: var(--marginMedium);
      border-radius: var(--radius);
      display: flex;
      backdrop-filter: blur(400px);
      transition: all 0.25s ease-in-out;

      &:hover {
        @include boxShadow;
        transform: scale(1.01);
      }

      h3 {
        color: white;
        width: 50%;
        position: absolute;

        transform: translateY(40%);
        margin-left: var(--marginLarge);
      }

      img {
        position: absolute;
        width: 40%;
        right: 0;
        transform: translateY(35%);
        margin-right: var(--marginMedium);
      }
    }
  }

  .main {
    background-color: none !important;
    position: relative;
    width: 100%;
    height: 100%;

    // background-color: rgba(231, 37, 37, 0.863);
  }
  .main-header {
    // background-color: blue !important;
    position: relative;
    height: 30%;

    .main-header-content {
      position: absolute;
      left: var(--paddingXXXLarge);
      top: 6rem;
      width: 85%;
      // background: green;
      h1 {
        color: var(--clrH1);
        letter-spacing: 0.1rem;
        font-size: 4rem;
        margin-bottom: var(--marginXLarge);
      }

      .search-container {
        position: relative;
        width: 90%;

        .search-box {
          background: rgba(255, 255, 255, 0.432);
          height: 4rem;
          backdrop-filter: blur(300px);
          border-radius: var(--radius);
          width: 100%;
          outline: none;
          border: none;
          padding: 0 5rem 0 3rem;
          color: var(--clrPara);
          transition: all 0.25s ease-in-out;
          font-weight: bold;

          &:hover {
            // @include boxShadow;
            border: solid 0.5px white;
          }
          &:focus {
            background: rgba(233, 233, 233, 0.432);
          }
        }
        i {
          position: absolute;
          right: 2rem;
          top: 50%;
          transform: translateY(-50%);
          color: var(--clrPara);
        }
      }
    }
  }
  .gameslist {
    display: flex;
    flex-direction: column;
    // background-color: rgb(238, 255, 0) !important;
    position: relative;
    bottom: 0;
    left: 0;
    height: 70%;
    padding-top: var(----paddingMedium);
    // padding-bottom: 10rem;
    width: 100%;
    //   width: 75%;
    // height: 100%;
    // padding-bottom: 0;

    .game {
      display: flex;
      // position: absolute;
      // right: 0;
      left: 0;
      margin: 0 var(--marginXXXLarge);
      margin-top: 5rem;
      margin-bottom: 1rem;
      border-radius: 25px;
      background-color: rgba(255, 255, 255, 0.726);
      backdrop-filter: blur(300px);
      height: 110px;
      width: 80%;
      justify-content: space-between;
      transition: box-shadow 0.25s ease-in-out;

      &:hover {
        transform: scale(1.01);

        @include boxShadow;
      }
      img {
        width: 80px;
        height: 80px;
        margin: auto 0;
        margin-left: var(--marginLarge);
        margin-right: var(--paddingSmall);
      }

      .stats {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: var(--marginSmall) 0;

        h3 {
          color: var(--clrH3);
        }
        p {
          color: var(--clrPara);
        }

        .completion {
          width: 100%;
          background: rgba(190, 190, 190, 0.363);
          height: 30px;
          border-radius: var(--radius);
        }

        .assassin::before {
          content: " ";
          display: block;
          width: 55%;
          height: 100%;
          top: 0;
          left: 0;
          background: var(--clrHighlight);
        }
        .spiderman::before {
          content: " ";
          display: block;
          width: 35%;
          height: 100%;
          top: 0;
          left: 0;
          background: var(--clrHighlight);
        }

        .sackboy::before {
          content: " ";
          display: block;
          width: 85%;
          height: 100%;
          top: 0;
          left: 0;
          background: var(--clrHighlight);
        }
      }
    }
  }

  .percentage {
    display: grid;
    place-items: center;
    margin-right: var(--marginLarge);
    color: var(--clrHighlight);
    font-size: 2.5rem;
  }
}

//!1000px screen width

@media (max-width: 1000px) {
  aside {
    color: var(--clrPara);
    width: 35%;
    align-items: center;
    background: rgba(253, 253, 253, 0.404);
    backdrop-filter: blur(500px);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    padding: var(--paddingXLarge);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .menu {
      position: absolute;
      //   filter: invert(1);
      filter: contrast(-100);
      opacity: 0.7;
      margin-top: -2rem;
      bottom: 12rem;
      li {
        width: 100%;
        display: flex;
        padding-bottom: var(--paddingXXLarge) !important;
        transition: all 0.25s ease-in-out;
        &:hover {
          transform: scale(1.05);
          // filter: contrast(10) !important;
        }
        h3 {
          display: none !important;
        }
        img {
          margin-right: 0 !important;
        }
      }
    }

    .advert {
      display: none !important;
    }
  }

  .main {
    background-color: none !important;
    position: relative;
    width: 100%;
    height: 100%;

    // background-color: rgba(231, 37, 37, 0.863);
  }
  .main-header {
    // background-color: blue !important;
    position: relative;
    height: 30%;

    .main-header-content {
      position: absolute;
      left: var(--paddingXLarge) !important;
      top: 6rem;
      width: 60% !important;
      // background: green;
      h1 {
        color: var(--clrH1);
        letter-spacing: 0.1rem;
        font-size: 4rem;
        margin-bottom: var(--marginXLarge);
      }

      .search-container {
        position: relative;
        width: 90%;

        .search-box {
          background: rgba(255, 255, 255, 0.432);
          height: 4rem;
          backdrop-filter: blur(300px);
          border-radius: var(--radius);
          width: 100%;
          outline: none;
          border: none;
          padding: 0 5rem 0 3rem;
          color: var(--clrPara);
          transition: all 0.25s ease-in-out;
          font-weight: bold;

          &:hover {
            // @include boxShadow;
            border: solid 0.5px white;
          }
          &:focus {
            background: rgba(233, 233, 233, 0.432);
          }
        }
        i {
          position: absolute;
          right: 2rem;
          top: 50%;
          transform: translateY(-50%);
          color: var(--clrPara);
        }
      }
    }
  }

  .game {
    position: relative !important;
    margin-left: var(--marginXLarge) !important;

    img {
      position: absolute !important;
      width: 60px !important;
      height: 60px !important;
      margin: auto 0;
      margin-top: var(--marginSmall) !important;
      margin-left: var(--marginSmall) !important;
      margin-right: var(--paddingMedium);
    }

    .stats {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: var(--marginSmall) 0;
      // word-wrap: wrap;

      h3 {
        margin-top: var(--marginSmall);
        position: absolute;
        // left:0
        color: var(--clrH3);
        margin-left: 8rem;
      }
      .platform {
        display: none;
      }

      .completion {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: var(--marginSmall) !important;
        width: 92% !important;
        margin-right: var(--marginSmall) !important;
        margin-left: var(--marginSmall) !important;
        height: 25px !important;
        border-radius: var(--radius);
      }

      .assassin::before {
        content: " ";
        display: block;
        width: 55%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--clrHighlight);
      }
      .spiderman::before {
        content: " ";
        display: block;
        width: 35%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--clrHighlight);
      }

      .sackboy::before {
        content: " ";
        display: block;
        width: 85%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--clrHighlight);
      }
    }

    .percentage {
      display: none !important;
    }
  }
}

.circle {
  display: none;
}

//!600px screen width
@media (max-width: 600px) {
  body {
    background: var(--clrHighlight);
  }

  .container {
    min-width: 400px;
  }

  .aside {
    position: absolute !important;
    left: 0;
    transform: translateX(-50) !important;
  }

  .game {
    min-width: 200px !important;
  }
}
